body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2; /* Color de fondo */
}

.container {
    text-align: center;
    background-color: #fff; /* Color de fondo del cuadrado */
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 70%; /* Máximo ancho del cuadrado (70% de la pantalla) */
    width: 100%; /* Ancho completo del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Centra horizontalmente el cuadrado */
}

.profile-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Ancho del círculo de la imagen de perfil */
    height: 100px; /* Altura del círculo de la imagen de perfil */
    border-radius: 50%; /* Hace que sea un círculo */
    background-color: #3e87a4; /* Color de fondo del círculo */
    margin: 0 auto 20px; /* Margen inferior para separar la imagen de perfil del texto */
}

.profile-circle img {
    width: 80px; /* Ancho de la imagen de perfil */
    height: 80px; /* Altura de la imagen de perfil */
    border-radius: 50%; /* Hace que la imagen sea un círculo */
    object-fit: cover; /* Ajusta la imagen dentro del círculo sin deformarla */
}

h1, p {
    margin: 0;
    padding: 0;
}
